<!DOCTYPE html>
<html>
<head>
	<title>First Page</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<!-- 	<a href="https://www.google.com/"><button>Click me</button></a>
	<img src="pulp_fiction.jpg" alt="https://www.google.com/">
	<ol>
		<li>Me</li>
		<li>You</li>
	</ol>

	<ul>
		<li>Him</li>
		<li>Her</li>
	</ul>
	<h1 style="font-family: verdana;" >Nice color!</h1> -->

	<div class="above">
		<a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">Gmail</a>
		<a href="https://www.google.am/imghp?hl=en&tab=ri&ogbl" target="_blank">Images</a>
		<a href="https://myaccount.google.com/?utm_source=sign_in_no_continue&pli=1" target="_blank"><button style="background-color:DodgerBlue;">Sign in</button></a>
	</div>

	<div class="name">
		<h1 id="g_1">G</h1>
		<h1 id="o_1">o</h1>
		<h1 id="o_2">o</h1>
		<h1 id="g_2">g</h1>
		<h1 id="l">l</h1>
		<h1 id="e">e</h1>
	</div>

	<div class="main">
		<form>
			<input type="text" id="search" name="search" value="Search"><br>
			<input type="submit" id="google_search" value="Google Search">
			<input type="submit" id="Barev" value="Barev">
		</form>
	</div>

</body>
</html>